
@{
	Layout = null;
	//Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
 <link rel="stylesheet" href="~/Asset/FrontEnd/css/error404.css" />
</head>
<body>
<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>4<span></span>4</h1>
		</div>
		<h2>Oops! Page Not Be Found</h2>
		<p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
		<a href="#">Back to homepage</a>
	</div>
</div>
</body>
</html>
