@model IEnumerable<Model.ViewModel.MenuViewModel>
	<ul>
		@foreach (var item in Model)
		{
			var url = "/danh-muc-san-pham/" + item.Slug + "-" + item.MenuId;
			<li>
				@if (item.Children.Any())
				{

				<a href="javascript:void(0)">@item.Name </a>
					Html.RenderPartial("MenuHeader", item.Children);
				}
				else
				{
					<a href="@url">@item.Name </a>
				}
			</li>
		}
	</ul>