@{
	ViewBag.Title = "Danh Mục Sản Phẩm";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var listCategory = (IEnumerable<Model.ViewModel.MenuViewModel>)ViewBag.ListCategory;
}

<div class="space-custom"></div>
<div style="height: 400px; width: 100%; background-image: url(/Contents/Uploads/files/master-slide-03.jpg); background-repeat: no-repeat; background-size: 100%;">

</div>
<!-- breadcrumb start -->
<div class="breadcrumb-area ">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-home"></i></a></li>
			<li><a href="#">Danh Mục Sản Phẩm</a></li>
			<li class="active category-name"></li>
		</ol>
	</div>
</div>
<!-- breadcrumb end -->
<!-- shop-area start -->
<div class="shop-area">
	<div class="container">
		<div class="row ">
			<div style="background:#f0f0f0;height:auto" class="col-md-3 col-sm-4">
			
				<div class="column" style="border:1px solid;width:105%">
					<h2 class="title-block">Danh Mục Sản Phẩm</h2>

					@*menu desktop*@
					<div class="container-menu-product">
						@{
							Html.RenderPartial("MenuPartial", listCategory);
						}
						
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-8">
				<h2 class="page-heading mt-40">
					<span class="cat-name"></span>
					<span class="heading-counter"></span>
				</h2>
				<div class="shop-page-bar">
					<div>
						<div class="shop-bar">
							<!-- Nav tabs -->
							<ul class="shop-tab f-left" role="tablist">
								<li style="border:1px solid grey" role="presentation" class="active"><a href="#home" data-toggle="tab"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
								<li style="border:1px solid grey" role="presentation"><a href="#profile" data-toggle="tab"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
							</ul>
							<div class="selector-field f-left ml-20 hidden-xs">
								<form action="#">
									<label>Sort by</label>
									<select name="select">
										<option value="">----</option>
										<option value="">Price: Lowest first</option>
										<option value="">Price: Highest first</option>
										<option value="">Product Name: A to Z</option>
										<option value="">Product Name: Z to A</option>
										<option value="">In stock</option>
										<option value="">Reference: Lowest first</option>
										<option value="">Reference: Highest first</option>
									</select>
								</form>
							</div>
							<div class="selector-field f-left ml-30 hidden-xs">

							</div>
							<div class="selector-field f-right ml-30">
								<form action="#"></form>
							</div>
						</div>
						<!-- Tab panes -->
						<div class="tab-content reload-wish">
							<div role="tabpanel" class="tab-pane active" id="home">
								<div id="productHot" class="row ">

								</div>
							</div>

							<div id="paginator" class="content-sortpagibar">


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- shop-area end -->
<!-- brand-area start -->
<div class="brand-area">
	<div class="container">
		<div class="brand-sep ptb-50">
			<div class="row">
				<div class="brand-active">
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/2.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/3.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/4.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/5.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="single-brand">
							<a href="javascript:void(0)"><img src="~/Asset/FrontEnd/img/brand/2.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- brand-area end -->
<!-- service-area start -->
@section categoryProduct{
	<script src="~/Asset/FrontEnd/js/category-product.js"></script>
}
