
@{
	ViewBag.Title = "Blog";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="space-custom elements1"></div>*@

<div class="space-custom"></div>
<div style="height: 400px; width: 100%; background-image: url(/Contents/Uploads/files/master-slide-01.jpg); background-repeat: no-repeat; background-size: 100% 100%;">

</div>
<div class="latest-blog-area ptb-60">
	<div class="container">
		<div class="row">
			<div class="section-title text-center mb-50">
				<h2>latest blog</h2>
			</div>
		</div>
		<div class="row">
			<div class="blog-active">
				<div class="col-lg-12">
					<div class="blog-wrapper mb-40">
						<div class="blog-img">
							<a href="#"><img src="~/Asset/FrontEnd/img/blog/1.jpg" alt="" /></a>
						</div>
						<div class="blog-info">
							<h3><a href="blog-details.html">What is Bootstrap? – The History...</a></h3>
							<div class="blog-meta">
								<span class="f-left">2016-04-20 21:50:35</span>
								<span class="f-right"><a href="blog-details.html">Read More </a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="blog-wrapper mb-40">
						<div class="blog-img">
							<a href="#"><img src="~/Asset/FrontEnd/img/blog/2.jpg" alt="" /></a>
						</div>
						<div class="blog-info">
							<h3><a href="blog-details.html">From Now we are certified web...</a></h3>
							<div class="blog-meta">
								<span class="f-left">2016-04-20 21:50:35</span>
								<span class="f-right"><a href="blog-details.html">Read More </a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="blog-wrapper mb-40">
						<div class="blog-img">
							<a href="#"><img src="~/Asset/FrontEnd/img/blog/1.jpg" alt="" /></a>
						</div>
						<div class="blog-info">
							<h3><a href="blog-details.html">Answers to your Questions about...</a></h3>
							<div class="blog-meta">
								<span class="f-left">2016-04-20 21:50:35</span>
								<span class="f-right"><a href="blog-details.html">Read More </a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="blog-wrapper mb-40">
						<div class="blog-img">
							<a href="#"><img src="~/Asset/FrontEnd/img/blog/2.jpg" alt="" /></a>
						</div>
						<div class="blog-info">
							<h3><a href="blog-details.html">Share the Love for PrestaShop 1.6</a></h3>
							<div class="blog-meta">
								<span class="f-left">2016-04-20 21:50:35</span>
								<span class="f-right"><a href="blog-details.html">Read More </a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

